html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* style */

body {
  font: 16px / 28px arial, sans-serif;
  background-color: #eaeaea;
  color: #333333;
  background-size: 20%;
}

.container {
  width: 800px;
  margin: auto;
  background-color: white;
}

.header {
  padding: 10px;
  padding-bottom: 5px;
}

.header .judul {
  font-size: 40px;
  font-weight: bold;
}

.header ul li {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
}

.header a {
  text-decoration: none;
  color: salmon;
  padding: 3px;
}

.header a:hover {
  background-color: lightskyblue;
  color: white;
}
.hero {
  height: 280px;
  background-position: 0%;
  background-image: url(skincare1.jpg);
  background-size: cover;
  border-bottom: 5px solid rgb(0, 0, 0);
  border-top: 5px solid skyblue;
}

.content {
  padding: 20px;
}

.content .penulis {
  font-size: 11px;
  margin-top: -5px;
}

.content .penulis a {
  color: salmon;
  text-decoration: none;
}

.content p {
  margin-bottom: 20px;
  font-size: 14px;
}

.footer {
  background-color: #333;
  padding: 10px;
}
.footer .copy {
  color: #eaeaea;
  text-align: center;
  font-size: 12px;
}

h2 {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
  text-align: center;
}

h3 {
  font-family: "Times New Roman", Times, serif;
}

* {
  padding: 0;
  margin: 0;
}
body {
  line-height: 1;
  background-image: url(back.jpg);
}
ol,
ul {
  list-style: none;
  text-align: center;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote::after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.cake1 {
  background-color: rgb(69, 128, 255);
}
.ceria {
  background-color: rgb(69, 128, 255);
}
.container {
  width: 700px;
  margin: auto;
  background-color: #b1d7fe;
}
body {
  font: 16px/28px arial, sans-serif;
  background-color: #eaeaea;
  color: #333;
}
.header {
  padding: 20px;
  padding-bottom: 10px;
}
.header .judul {
  font-size: 40px;
  font-weight: bold;
}
.header ul li {
  display: inline-block;
  margin-top: 20px;
  margin-right: 5px;
}
.header a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 3px;
}
.header a:hover {
  background-color: rgb(66, 76, 255);
  color: white;
}
.hero {
  height: 350px;
  background-image: url(skincare1.jpg);
  background-size: cover;
  background-position: 0 -100px;
  border-top: 5px solid rgb(0, 0, 0);
  border-bottom: 5px solid rgb(0, 0, 0);
  background-repeat: no-repeat;
}
.content {
  padding: 20px;
}
.content h2 {
  font-size: 28px;
  font-weight: bold;
}
.content .penulis {
  font-size: 11px;
  margin-top: -5px;
}
.content .penulis a {
  color: salmon;
  text-decoration: none;
}
.content p {
  margin-bottom: 20px;
  font-size: 14px;
}
.footer {
  background-color: #333;
}
.footer .copy {
  color: #eaeaea;
  text-align: center;
  font-size: 12px;
}
h1 {
  text-align: center;
  font-style: italic;
}
.menu {
  text-align: center;
}
.container1 {
  width: 600px;
  background-color: white;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.gallery1 li {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #666;
  float: left;
  margin-right: 20px;
  position: relative;
  margin-bottom: 20px;
}
.gallery1 li,
.gallery1 li img,
.gallery1 li span {
  border-radius: 50%;
}
.gallery1 li span {
  display: block;
  width: 120px;
  height: 120px;
  background-color: rgba(red, green, blue, alpha);
  position: absolute;
  top: 0;
  text-align: center;
  line-height: 120px;
  color: #333;
  text-shadow: 1px 1px 1px #ddd;
  opacity: 0;
  transition: 0.3s;
}
.gallery1 li a:hover span {
  opacity: 1;
  transform: scale(1) rotate(360deg);
  background-color: rgba(0, 0, 0, 0.5);
}
.clear {
  clear: both;
}
a {
  width: 100;
}
img {
  width: 100%;
}
h3 {
  text-align: center;
}
/* overlay */
.overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 9999;
  transition: 0.8s;
  text-align: center;
  padding: 100px 0;
}
.overlay:target {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

.overlay img {
  width: 400px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}
.overlay:target img {
  animation: zoomDanFade 1s;
}
.overlay .close {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -10px;
  color: white;
  text-decoration: none;
  background-color: black;
  border: 1px solid white;
  line-height: 14px;
  padding: 5px;
  opacity: 0;
}
.overlay:target .close {
  animation: fadeAjah 0.5s 0.5s forwards;
}
.overlay:target .next {
  animation: fadeAjah 0.5s 0.5s forwards;
}
.overlay:target .prev {
  animation: fadeAjah 0.5s 0.5s forwards;
}

/* navigasi */
.next,
.prev {
  width: 57px;
  height: 93px;
  background-image: url(right1.png);
  position: absolute;
  text-indent: -9999px;
  top: 40%;
  margin-left: 50px;
  opacity: 0;
}
.prev {
  background-image: url(left1.png);
  margin-left: -100px;
}
/* Animasi */
@keyframes fadeAjah {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomDanFade {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideDownFade {
  0% {
    opacity: 0;
    margin-top: -20px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
