* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  background-color: #fba1cb;
  font-size: 18px;
  font-family: "Cormorant Garamond", serif;
  margin: 50px;
}

/* Container */
.container {
  display: grid;
  gap: 10px;
}

/* Header */
.header {
  display: grid;
  grid-template-areas:
    "hero hero feature-1"
    "hero hero feature-2";
}

.hero {
  grid-area: hero;
  min-height: 300px;
  background-image: url(thumb.jpg);
  background-size: cover;
  background-position: center;
  background-color: #000000;
  padding: 50px;
}

.hero > * {
  display: none;
}

.features {
  background-color: #000000;
  color: #000000;
  display: grid;
  place-content: center;
  text-align: center;
  cursor: pointer;
}

.feature-1 {
  grid-area: feature-1;
  background-image: url(gambar1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.feature-2 {
  grid-area: feature-2;
  background-image: url(gambar2.jpg);
  background-size: cover;
  background-position: center;
}

.features .price {
  font-size: 2em;
  font-weight: 200;
}

/* Navigasi */
.menu {
  order: -1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.menu .brand {
  font-size: 1.3em;
  color: #000000;
}

.menu ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  gap: 5px;
}
.menu-list :hover {
  background-color: rgb(41, 41, 41);
}
.menu a {
  display: block;
  background-color: rgb(255, 97, 173);
  color: #ddd;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  font-size: 0.9;
}

/* hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  z-index: 9999;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  border-radius: 3px;
  transition: all 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}

/* Services */
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.service {
  background-color: rgb(251, 189, 189);
  padding: 15px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.service .icon {
  font-size: 3em;
}

.service h3 {
  font-size: 1.5em;
}

.service p {
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 0.8em;
}

/* Gallery */
.gallery {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 15px;
  border-radius: 3px;
}

.gallery h2 {
  /* grid-column-start: 1; */
  /* grid-column-end: -1; */
  grid-column: 1/-1;
  text-align: center;
  margin-bottom: 20px;
  gap: 5px;
}

/* Responsive Breakpoint */
@media (max-width: 1024px) {
  .menu {
    order: inherit;
    grid-template-columns: 1fr;
  }

  .menu .brand {
    display: none;
  }

  .hero > * {
    display: block;
    color: rgb(0, 0, 0);
    padding: 5px;
    margin-bottom: 5px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .menu {
    order: -1;
    justify-items: end;
  }

  .menu-toggle {
    display: flex;
  }
  .menu ul {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 133, 210);
    z-index: 1;
    transform: translateY(-100%);
    transition: all 1s;
    opacity: 0;
  }

  .menu ul.slide {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 576px) {
  body {
    margin: 15px;
  }

  .header {
    grid-template-areas:
      "hero"
      "feature-1"
      "feature-2";
  }
}
